/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 textarea {
  resize: none;
  border: none;
  margin: 2em 2em 0em 2em;
  width: 100%;
  padding: 1em;
}

nav ul {
  list-style-type: none
}

nav ul li {
  display: inline;
}

.postBox{
  border: 1px solid rgba(8, 7, 8, 0.59);
  width: 800px;
  margin: 1em auto;
  background-color: white;
}

.shareBox{
  border: 1px solid rgba(8, 7, 8, 0.59);
  width: 800px;
  margin: 1em auto;
  background-color: white;
}

.postButton{
  display: block;
  clear: both;
  width: 100%;
  border-top: 1px solid rgba(8, 7, 8, 0.59);
  padding: 0.5em;
  background-color: white;
}

.postButton button:hover {
  background-color: rgb(47, 94, 217);
  color: white;
}

.shareButton{
  float: right;
}

.clearfix::after {
  clear: both;
  display: block;
  margin: 0.5em;
}

.clearfix {
  background-color: white;
}
.whoShared {
  padding: 0.5em;
  margin-left: 0.7em;
}

.postShared{
  border-bottom: 1px solid rgba(8, 7, 8, 0.59);
  background-color: white;
}

.postSharedContent{
  padding: 0.5em;
  border-bottom: 1px solid rgba(8, 7, 8, 0.59);
}

.onlyPostShared{
  margin: 0.8em;
  border-bottom: 1px solid rgba(8, 7, 8, 0.59);

}


.likeRow {
    margin-left: 1.2em;
    margin-top: -0.5em;
    margin-bottom: 0.3em;
  }

  .noOfLikes{
    margin-left: 0.8em;
    margin-bottom: 0.3em;
    margin-right: 0.8em;
    border-bottom: 1px solid rgba(8, 7, 8, 0.59);
    padding: 0.3em;
  }

  .likesandcomment{
    background-color: #e9ebee;
  }

  .noOfComments{
    margin-left: 0.8em;
    margin-bottom: 0.3em;
    margin-right: 0.8em;
    padding: 0.3em;
  }

  .deleteComment{
    float :right;
    margin-top: 0px;
  }

  .deleteComment a:hover {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }

  .commentInput{
    width: 100%
  }

.PostImage{
  width: 100%;
}

.deletePost {
  text-align: right;
}

.deletePost a:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.whoShared a {
  color: rgb(30, 84, 148);
}

.whoShared a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.likeRow a:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.commenterLink a:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.InputArea {
  background-color: white;
}

.profileNavList {
  position: relative;
  width: 800px;
  margin: 0 auto;
  background-color: white;
  height: 3em;
  overflow: 'visible';
  border: 1px solid black;
}

.profileNavList li a {
  color: black;
}

.profileNavList li {
  margin: 0 auto;
  position: relative;
  background-color: white;
  padding: 0.75em;
  top: 0.8em;
  left: 12.5em;
}

.profileNavList li:hover {
  background-color: rgba(233, 235, 238, 0.6);

}

.profileNavList li a:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.profilepicimage:before{
  border: 5px solid black;
}

.aboutContainer {
  width: 800px;
  max-width: 800px;
  margin: 1em auto;
  background-color: white;
  height: 38em;
  padding-left: 1em;
  padding-top: 1em;
}

.aboutfields {
  margin: 1em;
}

.aboutname {
  color: rgb(32, 133, 226)
}

.industryname {
  margin: 0 auto;
  height: 30%;
  width: 800px;
  padding: 2em;
  background-color: white;
}

.industryname h1 {
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
